<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQtoSQL.Properties.Settings.grammanConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=gramman;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>